<div class="container_me">
    <div id="maskLayer"></div>
    <div class="mask_remder">
        <div>
          <input type="hidden" id='share_link_text' value="hello" />
          <span>
          <div class="mask_remder_item">
            <div class="mask_remder_item_title">1. Please make sure your phone number is right. </div>
            <div class="mask_remder_item_content">
            This is will help us to contact you when the person you recommended has got this job successfully. 
            </div>
          </div>
          <div class="mask_remder_item">
            <div class="mask_remder_item_title">2. You could get the share link by clicking the button &nbsp;&nbsp;&nbsp;&nbsp;below.</div>
            <div class="mask_remder_item_content">
            You can share this link in any places, like: Twiter, Facebook, LinkedIn, Wechat...
            </div>
          </div>
        </span></div>
        <button class='clip_share_link btn-xs btn btn-default' data-clipboard-target='share_link_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
        Copy Share Link To Clipboard
      </button> 
    </div>
 
    <div class="job_content">
      <div class="job_poster block">
        <div><span>张海涛 **.zhang@careerbuilder.com</span></div>
        <div><span>Posted on 2015-12-12</span></div>
      </div>
      <div class="border"></div>
      <div class="job_basic block">
          <div class="title"><h5><%=@job.job_title%></h5></div>

          <div class="row">
              <div class="col-xs-6">Experience: <%=@job.required_experience%></div>
              <div class="col-xs-6">Salary: <%=@job.salary%>K</div>
          </div>
          <div class="">Company: <%=@job.company_name%></div>
          <div>Address: <%=@job.address%></div>
          
          <!--<div class="row">
              <div class="col-xs-6">Salary：<%=@job.job_type%></div>
          </div>-->
      </div>

      <div class="border"></div>

      <div class="job_description_requirement block">
        <div class="description">
        <div><h5>Job Description:</h5></div>
        <%#binding.pry%>
        <div><%=@job.job_description.gsub("\n","<br/>").html_safe%></div>
        </div>
        <div class="requirement">
        <div><h5>Requirements:</h5></div>
        <div><%=@job.job_requirement.gsub("\n","<br/>").html_safe%></div>
        </div>
      </div>

    </div>
    


    <div class="play_user_infor">
        <%= render partial: 'share_job'  %>
    </div>

    <div class="play_content">
      <div class="play_resume">

        <%= form_for @resume,url: {action: "remote_update_resume"}, html: {:method=>"post",:multipart=>"true",:remote=>"true"} do |f| %>

          <div class="resume_basic">
          <div><h5>Basic Information</h5></div>
          <div>
            <%= f.text_field :name, :class => "form-control", :placeholder => "Name"%>
            <%= f.text_field :experience_year, :class => "form-control", :placeholder => "Experience Year"%>
            <%= f.text_field :city, :class => "form-control", :placeholder => "City"%>
            <%= f.text_field :email, :class => "form-control", :placeholder => "Email"%>
          </div>
        </div>


        <div class="resume_work_experience">
          <div><h5>Work Experience</h5></div>
          <div>
            <%= f.text_field :position_title, :class => "form-control", :placeholder => "Job Title"%>
            <%= f.text_field :company_name, :class => "form-control", :placeholder => "Company Name"%>
            
            <!--<%= f.month_field :work_start_date, :class => "form-control", :value => "2015-01"%>
            <%= f.month_field :work_end_date, :class => "form-control", :value => "2015-01"%>-->

            <div class="input-daterange input-group form-group" id="datepicker">
              <%= f.text_field :work_start_date, :class => "form-control", :placeholder => "Start"%>
              <span class="input-group-addon">to</span>
              <%= f.text_field :work_end_date, :class => "form-control", :placeholder => "End"%>
            </div>

            <%= f.text_area :job_brief_description, :class => "form-control", :rows=>"4", :placeholder => "Desciption of your job"%>
          </div>
        </div>

        <div class="resume_education">
          <div><h5>Education</h5></div>
          <div>
            <%= f.text_field :degree, :class => "form-control", :placeholder => "Degree"%>
            <%= f.text_field :school_name, :class => "form-control", :placeholder => "School Name"%>
            
            <!--<%= f.month_field :school_start_date, :class => "form-control", :value => "2015-01"%>
            <%= f.month_field :school_end_date, :class => "form-control", :value => "2015-01"%>-->

            <div class="input-daterange input-group form-group" id="datepicker">
              <%= f.text_field :school_start_date, :class => "form-control", :placeholder => "Start"%>
              <span class="input-group-addon">to</span>
              <%= f.text_field :school_end_date, :class => "form-control", :placeholder => "End"%>
            </div>

            <%= f.text_area :school_brief_description, :class => "form-control", :rows=>"4", :placeholder => "Desciption of your job"%>
          </div>
        </div>

        <% end %>

        

        <!--<div class="resume_work_experience">
          <div><h5>Work Experience</h5></div>
          <div>
            <input type="text" class="form-control" placeholder="Job Title" />  
          </div>
          <div>
            <input type="text" class="form-control" placeholder="Company Name" />
          </div>
          <div class="input-daterange input-group form-group" id="datepicker">
              <input type="text" class="form-control start_date" placeholder="Start" />
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control end_date" placeholder="End" />
          </div>
          <div>
            <textarea class="form-control" rows="5" placeholder="Desciption of your job"></textarea>
          </div>
        </div>

        <div class="resume_education">
          <div><h5>Education</h5></div>
          <div>
            <input type="text" class="form-control" placeholder="Degree" />  
          </div>
          <div>
            <input type="text" class="form-control" placeholder="School Name" />
          </div>
          <div class="input-daterange input-group form-group" id="datepicker">
              <input type="text" class="form-control start_date" placeholder="Start" />
              <span class="input-group-addon">to</span>
              <input type="text" class="form-control end_date" placeholder="End" />
          </div>
          <div>
            <textarea class="form-control" rows="5" placeholder="Desciption in School"></textarea>
          </div>
        </div>

        <div class="resume_button">
          <button type="button" class="btn btn-default">Cancel Edit</button>
          <button type="button" class="btn btn-default">Save Resume</button>
        </div>

      </div>-->

    </div>

    <script type='text/javascript'>
      $('.input-daterange').datepicker({
       format: "yyyy-mm",
        minViewMode: 1
      });

    

    </script>

</div>

